@charset "UTF-8";

$pr-color: #fa743e;
$bg01: #FFF9D3;
$bg02: #FFC157;
$text: #000000;

.clearfix {
    content: '';
    display: block;
    clear: both;
}
.align-center {
    width: 67.6667%;
    margin: auto;
    overflow: hidden;
}
.align-left {
    float: left;
}
.align-right  {
    float: left;
}

#app-page .wrap {
    width: 100%;
}
.header {
    background-color: $pr-color;
    padding: 7px 0;
    .logo {
        display: inline-block;
        width: 242px;
        height: 56.87px;
        float: left;
        img {
            display: inline-block;
            width: 100%;
        }
    }
    .social {
        float: right;
        height: 56.87px;
        line-height: 56.87px;
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 7px;
            line-height: 30px;
            i {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: #fff;
                background-color: rgba(0, 0, 0, 1);
                text-align: center;
                line-height: 30px;
                font-size: 1.5rem;
                vertical-align: middle;
                
            }
        }
        a:hover i {
            background-color: rgba(0, 0, 0, 0.6);
        }
        select {
            width: 190px;
            padding: 5px;
            margin-left: 5px;
            option {
                
                font-size: 1.1rem;
            }
        }
    }
}
section {
    width: 100%;
}
.section01 {
    background: url('../img/bg01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.9557% 0;
    box-sizing: border-box;
    .iphone-app {
        margin-left: 11.5%;
        width: 30%;
        img {
            display: inline-block;
            width: 77%;
            height: auto;
        }
    }
    .align-right {
        text-align: center;
        width: 50%;
        margin-right: 8.5%;
        .chara-map {
            display: inline-block;
            width: 173px;
            height: 171px;
            margin-top: 15px;
        }
        h2 {
            margin: 10px 0 0; 
            font-size: 3.2rem;
            color: #ffffff;
            font-weight: normal;
            line-height: 1.8;
        }
        p {
            margin: 20px 0 30px;
            font-size: 1.6rem;
            color: #ffffff;
        }
        .app-os {
            img {
                display: inline-block;
                width: 41.8564%;
                height: 72px;
                margin: 0 5px;
            }
        }
    }
}
.section02 {
    background-color: $bg01;
    .align-left {
        // position: relative;
        width: 56.5%;
        margin-top: 15px;
        img {
            display: inline-block;
            width: 77.24835%;
            height: auto;
            // position: absolute;
            // top: 3%;
            // left: 0;
        }
    }
    .align-right {
        width: 43.5%;
        color: $text;
        h3 {
            font-size: 2.9rem;
            margin-top: 30%;
            font-weight: normal;
        }
        .red-line {
            height: 3px;
            width: 60px;
            background-color: $pr-color;
            margin: 17px 0 45px;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.7;
        }
    }
}
.section03 {
    background-color: $bg02;
    margin-top: -83px;
    padding-bottom: 5%;
    .align-left {
        width: 50%;
        h3 {
            font-size: 2.9rem;
            margin-top: 30%;
            font-weight: normal;
        }
        .red-line {
            height: 3px;
            width: 60px;
            background-color: $pr-color;
            margin: 17px 0 45px;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.7;
        }
    }
    .align-right {
        width: 50%;
        img {
            display: inline-block;
            width: 79.2118%;
            margin-top: 26%;
            margin-left: 16.9458%;
        }
    }
    .section04-img {
        display: inline-block;
        width: 52.1182%;
        height: auto; 
    }
}
.section04 {
    background-color: $bg01;
    margin-top: -750px;
    .align-left {
        position: relative;
        width: 56.5%;
    }
    .align-right {
        width: 43.5%;
        float: right;
        padding-top: 5%;
        padding-bottom: 13%;
        h3 {
            font-size: 2.9rem;
            margin-top: 30%;
            font-weight: normal;
        }
        .red-line {
            height: 3px;
            width: 60px;
            background-color: $pr-color;
            margin: 17px 0 45px;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.7;
        }
    }
}
.section05 {
    background-color: $bg02;
    .align-left {
        width: 45%;
        margin-right: 5%;
        h3 {
            font-size: 2.9rem;
            margin-top: 30%;
            font-weight: normal;
        }
        .red-line {
            height: 3px;
            width: 60px;
            background-color: $pr-color;
            margin: 17px 0 45px;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.7;
        }
    }
    .align-right {
        width: 50%;
        padding: 3% 0 6%;
        img {
            display: inline-block;
            width: 97.73399%;
        }
    }
}
.section06 {
    background-color: $bg01;
    position: relative;
    text-align: center;
    .chara-bg {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 31%;
    }
    .content {
        h4 {
            font-size: 3.245rem;
            padding: 8.5% 0 2.5%;
            font-weight: 500;
        }
        .app-os {
            img {
                display: inline-block;
                width: 215.138px;
                height: 72px;
                margin: 0 5px;
            }
        }
        .app-desc {
            width: 42.5%;
            font-size: 1.4rem;
            margin: 5% auto 4%;
            line-height: 1.6;
        }
        .btn-about {
            color: #ffffff;
            padding: 17px 30px 17px 100px;;
            background-color: #3AB6B6;
            border-radius: 5px;
            font-size: 2.6rem;
            img {
                display: inline-block;
                margin-left: 50px;
            }
        }
        .social {
            margin: 7% auto 2%;
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 7px;
                line-height: 30px;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    color: #fff;
                    background-color: #000;
                    text-align: center;
                    line-height: 30px;
                    font-size: 1.5rem;
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
        }
        .navi-item {
            font-size: 0;
            padding-bottom: 3%;
            li {
                display: inline-block;
                border-right: 1px solid #000;
                
                a {
                    color: #000;
                    font-size: 1.4rem;
                    padding: 0 15px;
                }

            }
            li:nth-child(3) {
                border-right: none;
                padding-right: 0;
            }
            li:nth-child(1) a {
                padding-left: 0;
            }
            li:nth-child(3) a {
                padding-right: 0;
            }
        }
    }
}
.footer {
    background-color: #E65231;
    text-align: center;
    height: 50px;
    p {
        color: #ffffff;
        font-size: 1.4rem;
        line-height: 50px;
    }
}

/*--Responsive--*/

@media screen and (max-width: 1199px){
}
@media screen and (max-width: 991px){
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 481px){
}
@media screen and (max-width: 380px){
}